<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %} Titulo pre definido{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="estilos.css") }}">

    </head>

    <body>

        <nav>

            <a href="{{ url_for("index") }}">Home</a>
            |
            <a href="{{ url_for("infos") }}">Infos</a>
            |
            <a href="{{ url_for("addAluno") }}">Adicionar Aluno</a>
              |
            <a href="{{ url_for("listaAlunos") }}">Lista de Alunos</a>


        </nav>

        <main>

            {% block content %}
                <h1>Sem Conteudo</h1>
            {% endblock %}

        </main>
    </body>
</html>